@media(width <=768px) {
    .servicios .articulos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    article {
        border-bottom: 1px solid var(--color-black);
        border-left: transparent;
    }

    .servicios .articulos article:last-child {
        grid-column: 1/3;
    }

    .aboutus .history {
        grid-column: 1/1;

    }

    .contacto span {
        display: none;
    }

    .hamburger {
        cursor: pointer;
        width: 3.125rem;
        margin-top: 0.625rem;

        div {
            width: 1.875rem;
            height: 0.125rem;
            background-color: var(--primary-color);
            margin: 0.3125rem 0;
        }
    }
}

@media(width <=600px) {


    .aboutus .history {

        grid-column: 1/1;

    }

    .servicios .articulos {

        grid-template-columns: repeat(1, 1fr);

    }

    .servicios .articulos article:last-child {
        grid-column: 1/1;
    }

    .contacto span {
        display: none;
    }

    .hamburger {
        cursor: pointer;
        width: 3.125rem;
        margin-top: 0.625rem;

        div {
            width: 1.875rem;
            height: 0.125rem;
            background-color: var(--primary-color);
            margin: 0.3125rem 0;
        }
    }
}