@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


:root {
    --color-red: #fa573a;
    --color-black: #21242e;
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Handlee",
        cursive;
    --gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 16px;
}

.hamburger {
    display: none;
}

.boton {
    display: inline-block;
    padding: 0.600rem;
    margin: 0.6rem 0;
    background-color: var(--color-red);
    border: 1px solid var(--color-red);


    &:hover {
        background-color: transparent;

        i {
            transform: translateX(3px);
        }

        a {
            color: var(--color-red)
        }
    }

    a {
        color: white;

        i {
            margin-left: 4px;
        }
    }
}

body {
    font-family: var(--primary-font);
}

.container {
    max-width: 1004px;
    margin: 0 auto;
    padding: 0px 10vh;
}

.container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacto {
    background-color: var(--color-black);
    padding: 3vh 10vh;

    ul {
        margin: 0 auto;
        justify-content: space-between;
        max-width: 1004px;
        display: flex;

        li {
            display: inline-block;

            a {
                color: white;
                text-decoration: none;

                i {
                    color: var(--color-red);
                    margin-right: 5px;
                }
            }
        }
    }
}

nav {
    width: 100%;
    padding: 1.5rem 0;

    span {
        color: var(--color-red);
    }

    figure {
        width: 12em;

        img {
            width: 80px;
        }
    }

    li {
        display: inline-block;
        padding: 5px;

        a {
            color: grey;
            text-decoration: none;

            &:hover {
                color: var(--color-red);
            }
        }
    }
}

footer {

    background-color: var(--color-black);
    color: white;
    padding: 1.25rem;

    .container {
        display: flex;

    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: var(--color-red);
        }
    }
}

.hero {
    background-image: url(../images/fondo.jpg);
    height: 50vh;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #666;

    .container {
        padding-top: 120px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100px;
    }

    li {
        list-style: none;
    }

    a {
        display: inline-block;
        color: white;
        text-decoration: none;
        list-style: none;
    }

    h1 {
        font-family: var(--secondary-font);
        color: white;

    }

    h4 {
        font-family: var(--primary-font);
        color: var(--color-red);
        font-weight: 500;
    }

    p {
        font-family: var(--primary-font);
        color: white;
    }

}

.servicios {
    text-align: center;
    margin-top: 20px;

    h2 {
        font-family: var(--secondary-font);
        color: var(--color-black);

        span {
            color: var(--color-red);
        }
    }

    .articulos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;

        article {
            text-align: left;
            border-left: 1px solid var(--color-black);
            padding: 10px;

            i {
                border: 1px solid var(--color-red);
                color: var(--color-red);
                padding: 10px;
                margin-bottom: 10px;
            }

            a {
                color: var(--color-red);
                font-weight: 500;
                text-decoration: none;

                i {
                    border: none;
                }
            }
        }

    }

}

.aboutus {
    text-align: center;
    margin-top: 20px;

    h2 {
        font-family: var(--secondary-font);
        color: var(--color-black);

        span {
            color: var(--color-red);
        }
    }

    figure {
        width: 400px;
        height: 279.22px;
        rotate: 10deg;
        border: 1px solid var(--color-red);


        img {
            width: 100%;
            rotate: -10deg;
        }

        &:hover {
            rotate: 0deg;

            img {
                rotate: 0deg;
            }
        }

    }

    .sobrenosotros {
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        padding-bottom: 50px;

        h3 {
            font-size: 16px;
        }

        h4 {
            color: var(--color-red);
            font-size: 12px;
            font-weight: 400;
            margin-top: 10px;
        }

        p {
            margin-top: 10px;
            color: grey;
            font-size: 14px;
            font-weight: 400;
        }

        a {
            text-decoration: none;
        }




    }

}

.decoracion {
    display: inline-block;
    margin-top: 5px;
    text-align: center;

    hr {
        width: 50px;
        height: 1px;
        background-color: var(--color-red);
        margin: 0;
        display: block;
        border: none;
    }

    p {
        color: var(--color-red);
        position: relative;
        top: -0.7rem;
    }
}

.subir {

    a {
        color: var(--color-red);
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 2rem;
    }
}